.offer{
    width: 85%;
    height: 70vh;
    display: flex;
    margin: auto;
    padding: 0px 140px;
    margin-bottom: 150px; 
    background: linear-gradient(180deg, #bdeac8, #bdeac83b 60%);
}
.offer-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h1{
        color: #077122;
        font-size: 70px;
        font-weight: 600;
    }
    p{
        color: #077122;
        font-size: 22px;
        font-weight: 600;  
    }
    button{
        width: 282px;
        height: 70px;
        border-radius: 35px;
        background: #047124;
        color: white;
        border: none;
        font-size: 22px;
        font-weight: 500;
        margin-top: 30px;
        cursor: pointer;
    }
}
.offer-right{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /* padding-top: 100px; */
    img{
        width: 400px;
    }
}